services:
  api-service:
    container_name: cloudybd-server
    # image: iazadur/cloudybd-server:production
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5001:5000"
    env_file:
      - .env
    volumes:
      - ./logs:/usr/src/app/logs
    networks:
      - cloudybd-server-network
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1:4446/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

networks:
  cloudybd-server-network:
    driver: bridge